<div class="content" role="main">
  <div class="header">
    <span>WELCOME</span>
  </div>
  <form [formGroup]="form">
  <div>
      <mat-form-field class="form-input">
        <input type="number" matInput placeholder="I want to convert" value="" formControlName="input">
      </mat-form-field>
    <div
      *ngIf="form.get('input').invalid && form.get('input').touched"
    >
      <small>Enter number</small>
    </div>
  </div>
  <div>
    <mat-form-field class="form-input">
      <mat-label>Сurrency conversion</mat-label>
      <mat-select formControlName="select">
        <mat-option *ngFor="let froms of From" [value]="froms.value">{{ froms.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  </form>
  <div>
    <h1>{{ showInp() }}</h1>
  </div>
</div>

