.header {
  display: flex;
  margin: 32px auto;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.form-input {
  display: flex;
  margin: 32px 0 0 auto;
  width: 200px;
}

small {
  text-align: center;
  color: red;
}

/*input {
  &.ng-ivalid {
    border: 1px solid red;
   }
}*/

